@media (max-width:960px) {
.main_image {width: 100%;
             position: relative;
             top: 80px;}
li {width: 100%;
    position: relative;
    top: -45px;
    left: -65px;
    font-size: 80%;}
header {width: 100%;
        height: 100%;}
.map {width: 80%;
      position: relative;
      left: 30px;}
#project h1{position: relative;
            left: -30px;
            bottom: -30px;
            padding: 8px;
            width: 100%;}
#project h2{position: relative;
            bottom: -10px;
            line-height: 140%;}
#project nav{position: relative;
             left: -30px;
             text-align: center;}
#itinerary nav{position: relative;
               left: -30px;}
#attractions{position: relative;
             top: -60px;
             padding: 1px;
}
#attractions img{width: 100%;}          
#attractions a{position: relative;
               top: -70px;
               font-size: 100%;}
}


body{ background-color: #eeeeff;
      color: #2d2d2d;
      font-family: "微軟正黑體", Arial, Verdana, sans-serif;
      font-size: medium;
      margin: 0px auto 0px auto;
}

h1{ font-weight: bold;
    color: #6900ff;  
}

header{ width: 100%;
        height: 11%;
        padding: 8px;
        background: url("images/top.png");
        position: fixed;
        z-index: 50;
        margin: 0px 0px 10px 0px; 
        background-size: contain;
}

#logo{ width: 220px;
       padding: 2px 0px 0px 40px;
}

ul{ float: right;
    padding: 30px 65px 30px 30px;
}

li{ color: #ffffff;
    display: inline;
    margin: 0px 10px 0px 0px; 
}

header a{ color: #ffffff;
          text-decoration: none;
}

.home{ color: #ffd600;
       font-weight: bold;
}

header a:hover{ color: #6900ff;
                background-color: #ffd600;
                font-weight: bold;
}

#main_image{ text-align: center;
}


#project h1{ border: 5px solid #6900ff;
             padding:30px 70px 30px 70px;
             margin: 40px 30px 30px 60px;
             border-radius:20px;
             width: 275px;
             float: left;
             text-align: center;
}

#project h2{ font-size: 200%;
}

#project nav{ width: 100%x;
              padding:30px 70px 30px 70px;
              margin: 30px 10px 10px 50px;
              line-height: 160%;
}

#itinerary nav{ margin: 50px 5px 30px 80px;
}

.map{ float: right;
      margin: 20px 80px 30px 5px;
}



#attractions{ border: 5px solid #6900ff;
              border-radius:20px;
              margin: 150px 50px 20px 50px;
              text-align: center;   
}


.day {display: inline-block;
      text-align: center;
}



figcaption a{ border: 3px solid #6900ff;
              color: #ffffff;
              background-color: #6900ff;
              border-radius:20px;
              padding: 5px;
              text-decoration: none;
              position: relative;
              top: -180px;
              z-index: 20;
              font-size: 140%;
}

figcaption a:hover{ color: #6900ff;
                    background-color: #ffd600;
                    font-weight: bold;
}


footer{ background-color: #687dff;
        color: #ffffff;
        text-align: center;
        font-size: 80%;
        padding: 2px;
        margin: 10px 0px 0px 0px;
}













